{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "@remix-run/eslint-config", 
    "@remix-run/eslint-config/node",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:tailwindcss/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      },
      "ecmaVersion": "latest",
      "sourceType": "module"
  },
  "plugins": [
      "prettier",
      "react",
      "@typescript-eslint",
      "tailwindcss"
  ],
  "rules": {
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "alphabetize": { "order": "asc" },
        "newlines-between": "always"
      }
    ],
    "prettier/prettier": ["error"],
    // In modern versions, importing the React library is not required.
    "react/react-in-jsx-scope": "off"
  },
  "settings": {
    "import/extensions": [".ts", ".tsx"],
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".json", ".native.js"],
        "moduleDirectory": ["node_modules/", "src/"]
      }
    }
  }
}
