@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 33 52% 91%;
    --foreground: 0 17% 8%;
    --card: 33 52% 91%;
    --card-foreground: 0 17% 8%;
    --popover: 33 52% 91%;
    --popover-foreground: 0 17% 8%;
    --primary: 3 76% 62%;
    --primary-foreground: 0 17% 8%;
    --secondary: 33 40% 85%;
    --secondary-foreground: 0 13% 10%;
    --muted: 33 40% 85%;
    --muted-foreground: 0 11% 46%;
    --accent: 33 40% 85%;
    --accent-foreground: 0 13% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 33 13% 80%;
    --input: 33 13% 80%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 8% 8%;
    --foreground: 33 52% 91%;
    --card: 0 10% 10%;
    --card-foreground: 33 52% 91%;
    --popover: 0 0% 9%;
    --popover-foreground: 33 52% 91%;
    --primary: 3 76% 62%;
    --primary-foreground: 0 17% 8%;
    --secondary: 0 7% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 33 4% 26%;
    --input: 33 4% 26%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
